* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* img,
svg {
    max-width: 100%;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.br_none {
    display: none;
}

li {
    list-style: none;
}

body {
    font-family: "Manrope", sans-serif;
}

a,
h1,
p,
span,
textarea {
    color: #000;
    font-weight: inherit;
    text-decoration: none;
    font-family: "Manrope", sans-serif;
}


/* HEADER */


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 100px;
    width: 100%;
}


.header__email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo__email {
    width: 12vw;
    height: auto;
}

.email {
    font-size: 5vw;
}

/* MAIN */


main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
}

.main__text {
    text-align: center;
    font-size: 9vw;
    font-weight: 300;
}

.main__subtitle {
    text-align: center;
    font-size: 4.5vw;
    font-weight: 300;
    margin-top: 30px;
}

.main__svg {
    width: 20vw;
    height: auto;
}

.main__button {
    background: #5630ff;
    color: #fff;
    padding: 5vw 8vw 5vw 8vw;
    border-radius: 100px;
    margin-top: 10vw;
    transition: .1s;
    font-size: 5vw;
}

.main__button:hover {
    cursor: pointer;
    background: #442ab5;
}

/* affiliate */

.affiliate {
    margin: 100px 0;
    font-weight: 400;
    font-size: 6vw;
    text-align: center;
}


/* conditions */


.header__logo {
    display: none;
}

.conditions {
    width: 100%;
    height: auto;

    display: grid;
    grid-gap: 3em;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 14vw;
}


.condition-item {
    width: 100%;
    height: 30vw;
}

.royalties {
    height: 35vw;
}

.royalties-text {
    line-height: 1;
}

.condition__title {
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
}

.condition-item__title {
    font-size: 9vw;
    font-weight: 200;
    margin-bottom: 15px;
}

.condition-item__text {
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1
}


/* investment */


.investment {
    margin-top: 100px;
    width: 100%;
    padding: 0 14vw;
}

.investment__block {
    display: grid;
    grid-gap: 3em;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 20px 0 20px;
}

.investment__item {}

.investment-item__title {
    font-size: 4.5vw;
    font-weight: 300;
}

.investment-item__text {
    font-weight: 200;
    font-size: 9vw;
    margin: 6vw 0;
}


/* support */

.support {
    margin-top: 150px;
    padding: 0 14vw;
}

.support__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 5.5vw;
    text-align: center;
}

.support__block {
    display: grid;
    grid-gap: 3em;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 20px 0 20px;
}

.support-item {
    padding: 20px;
}

.support-item__title {
    font-size: 5.2vw;
    font-weight: 500;
    margin-bottom: 5vw;
}

.support-item__text {
    font-weight: 400;
    font-size: 4vw;
}


/* form */


form {
    margin-top: 20vw;

    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__svg {
    width: 20vw;
    height: auto;
}


.form__title {
    text-align: center;
    margin-top: 10vw;
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 6vw;
}

.form__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5vw;
}

.form__input::placeholder {
    color: #000;
}

.form__input {
    margin-bottom: 1rem;
    outline: none;
    color: #000;
    font-size: 3vw;
    font-weight: 300;
    background: #F5F5F5;
    border-radius: 3vw;
    height: 13vw;
    padding-left: 5vw;
    padding-top: 4.5vw;
}

.textarea {
    padding-top: 4.5vw;
}

.form__item {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
}

.form__item span {
    position: absolute;
    top: 4vw;
    left: 5vw;
    font-weight: 300;
    font-size: 3.5vw;
    pointer-events: none;
    transition: .3s;
}

textarea {
    height: 30vw !important;
    transition: .3s;
}

.form__button {
    background: #5630ff;
    color: #fff;
    padding: 20px 35px 20px 35px;
    border-radius: 5px;
    margin-top: 5vw;
    transition: .1s;
    border-radius: 100px;
}

.form__button:hover {
    cursor: pointer;
    background: #3a249d;
}

.team {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
}

.team__img {
    height: 100%;
    width: 75%;
    border-radius: 2vw;
    background-image: url('./team.png');
    background-size: cover;
    background-position: center;
}

.picture {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
    margin: 10vw 0;
}

.picture__img {
    height: 100%;
    width: 75%;
    border-radius: 2vw;
    background-size: cover;
    background-position: center;
}

.red {
    background-image: url('./red.png');
}

.blue {
    background-image: url('./blue.png');
}

/* Футер */

.wrapper {
    max-width: 1490px;
    width: 100%;
    margin-top: 10vw;
}

footer {
    width: 100%;
    max-width: 1490px;
    height: auto;
    background-color: #f2f3f5;
    border-radius: 25px 25px 0 0;

}

.footer__info {
    display: flex;
    flex-direction: column;
}

.f-info {
    padding: 35px 25px;
    align-items: center;
    text-align: center;
}

.f-info__title {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 20px;
}

.f-info__copy {
    padding: 0;
}

.f-copy {
    display: flex;
    justify-content: center;
}

.f-copy__logo {
    display: none;
}

.f-copy__text a,
.f-copy__text {
    font-size: 14px;
    color: #989ca3 !important;
    font-weight: 500;
    text-decoration: none;
}


.f-info__menu {
    display: none;
    justify-content: space-between;
}

.f-copy__logo,
.f-menu:not(:last-child) {
    margin-right: 30px;
}

.f-app {
    display: none;
}


@media (min-width: 660px) {
    .f-info__menu {
        display: flex;
    }

    .f-copy__logo {
        display: block;
    }

    .f-copy__logo,
    .f-menu:not(:last-child) {
        text-align: left;
    }

    .f-info__menu {
        justify-content: flex-start;
    }

    .f-info__title {
        text-align: left;
    }

    .f-copy {
        justify-content: flex-start;
        align-items: flex-end;
    }

    .f-copy__text a,
    .f-copy__text {
        text-align: left;
    }

}

.validation-message{
    font-size: 1vw;
    color: red;
    padding-left: 4vw;
    margin-bottom: 1vw;
}



@media (min-width: 1000px) {

    /* Хедер */

    header {
        justify-content: space-between;
    }

    .email {
        font-size: 1vw;
    }

    .logo__email {
        width: 4vw;
    }

    .header__logo {
        display: block;
    }

    /* мэин */

    main {
        margin-top: 10vw;
    }

    .main__text {
        font-size: 4vw;
        font-weight: 100;
        line-height: 1;
    }

    .main__subtitle {
        font-size: 2vw;
        line-height: 1;
    }

    .main__svg {
        width: 6vw;
    }

    .br-main__text {
        display: none;
    }

    .br-affiliate {
        display: none;
    }

    .br-support {
        display: none;
    }

    .br-form__title {
        display: none;
    }

    .main__button {
        background: #5630ff;
        color: #fff;
        padding: 1.5vw 3vw 1.5vw 3vw;
        margin-top: 3vw;
        transition: .1s;
        font-weight: 100;
        font-size: 1vw;
    }

    .affiliate {
        font-size: 1.8vw;
        margin-top: 10vw;
    }

    /* condition */

    .conditions {
        padding: 0 17vw;
    }

    .condition-item {
        height: 13vw;
    }

    .condition-item__text {
        font-size: 1.5vw;
        font-weight: 300;
        width: 38vw;
    }

    .condition-item__title {
        font-size: 4.5vw;
        font-weight: 100;
    }

    /* investment */

    .investment {
        display: flex;
        justify-content: flex-end;
    }

    .investment-item__title {
        font-size: 1.5vw;
    }

    .investment-item__text {
        font-size: 4.5vw;
        margin: 0 0 3vw;
    }

    /* support */

    .support {
        padding: 0 7vw;
    }

    .support__title {
        font-size: 2.5vw;
        margin-bottom: 7vw;
    }

    .support__block {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding: 0 20px 0 20px;
    }

    .support-item__title {
        font-size: 2vw;
        font-weight: 400;
        margin-bottom: 2vw;
    }

    .support-item__text {
        font-weight: 300;
        font-size: 1.5vw;
    }


    /* form */

    form {
        margin-top: 10vw;
    }

    .form__item {
        width: 70%;
    }

    .form__item span {
        position: absolute;
        top: 1.7vw;
        left: 4.2vw;
        font-weight: 300;
        font-size: 1.7vw;
    }

    .form__input {
        height: 6vw;
        padding-top: 0;
        padding-left: 4vw;
        font-size: 2vw;
    }

    .form__svg {
        width: 7vw;
    }

    .form__title {
        margin-top: 3.5vw;
        font-size: 2vw;
    }

    textarea {
        height: 15vw !important;
        padding-top: 1.5vw !important;
    }

    /* team */








    /* Футер */

    .wrapper {
        padding: 0 2rem;
        margin: 0 auto;
    }

    footer {
        margin: 70px 0 30px;
        border-radius: 25px;
    }

    .f-app {
        display: flex;
        flex: 1 1 auto;

        align-items: flex-end;
    }

    .f-app__info {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 45px 0;
    }

    .f-app__info-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.15;
        max-width: 300px;
    }

    .f-app__info-links {
        padding: 30px 0 0;
        margin-top: auto;
    }

    .app-links {
        display: grid;
        grid-gap: 16px;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__info {
        flex-direction: row;
        justify-content: space-between;
        background-color: #f2f3f5;
        border-radius: 25px;
    }

    .f-app__img {
        margin-top: -75px;
    }

    .f-app__img {
        max-width: 260px;
    }

    .f-app__img img {
        max-width: 100%;
    }
}






@media (min-width: 360px) {
    header {
        padding: 25px;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 0 10vw;
    }
}

.form__input.invalid {
    border: 1px solid red;
}

.form__message {
    color: red;
    font-size: 12px;
    margin: 0;
    visibility: hidden;
}

.form__item.invalid .form__message {
    visibility: visible;
}